<% @municipal_transaction_data = JSON.parse(@municipal_transaction_data) %>

<% @municipal_transaction_data['regional_district'].each do |data| %>

  <div id="<%= data['id'] %>Modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title color-white" id="myModalLabel">Welcome to <%= data['name'] %></h3>
        </div>
        
        <% image_id = "/assets/images/bg/" + data['id'] + ".ashx" %>
        <% if image_exist(image_id) == false %>
          <% image_id = "/assets/images/bg/Cariboo.ashx" %>
        <% end %>

        <!-- summary -->
        <div class="hori-bar-top"></div>
        <div class="summary" style="background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(<%= image_id %>) no-repeat center center fixed; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;">
          <div class="row">
            <div class="col-md-6">
              <%= data['description'] %>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Total Market Transactions: <b><%= data['no_mkt_trans']['total'] %></b></li>
                <li>Population: <b><%= data['population'] %></b></li>
                <li>Land Area (sq. km): <b><%= data['land_area'] %></b></li>
                <li>Population Density per sq. km: <b><%= data['density'] %></b></li>
                <li>National Population Rank: <b><%= data['national_population_rank'] %></b></li>
                <li>Provincial/Territorial Population Rank: <b><%= data['provincial_population_rank'] %></b></li>
                <li>Number of Municipality: <b><%= data['num_municipality'] %></b></li>
              </ul> 
            </div>
          </div>
        </div>

        <div class="modal-body">

          <!-- all charts -->
          <div id="<%= data['id'] %>Canvas"></div>
        </div>

      </div>
    </div>
  </div>

<% end %>

<script>
$(document).ready(function() {

  var municipal_transaction_data = JSON.parse( $("#municipal_transaction_data").val() );
  var months = municipal_transaction_data['months'];
  var regional_district = municipal_transaction_data['regional_district'];

  var html = '';
  for (var i = 0; i < regional_district.length; i++) {
    var data = regional_district[i];
    var id = data['id'];
    var name = data['name'];

    // make charts to be added to a html page
    html += '<div class="article">' +
              '<div class="article-header">' +
                '<h3 class="color-darkblue">Trend Line for Total Market Transactions</h3>' +
              '</div>' +
              '<div class="article-body">' +
                '<div class="row">' +
                  '<div class="col-md-2"></div>' +
                  '<div class="col-md-8">' +
                    '<canvas id="' + id + '_regional_district_canvas"></canvas>' +
                  '</div>' +
                '<div class="col-md-2"></div>' +
              '</div>' +
              '</div>' +
            '</div>' +
            '<div class="article">' +
              '<div class="article-header">' +
                '<h3 class="color-darkblue">Comparison of Municipalities</h3>' +
              '</div>' +
              '<div class="article-body">' +
                '<div class="row">' +
                  '<div class="col-md-8 col-xs-12">' +
                    '<p class="color-grey make-center make-bold">Transactions Monthly Summary</p>' +
                    '<canvas id="' + id + '_regional_district_municipal_canvas"></canvas>' +
                  '</div>' +
                  '<div class="col-md-4 col-xs-6">' +
                    '<p class="color-grey make-center make-bold">Percentage of Total Transactions</p>' +
                    '<canvas id="' + id + '_regional_district_compare_canvas"></canvas>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '</div>';


    var region_district_municipality_json = data['municipality'];

    for (var k = 0; k < region_district_municipality_json.length; k++) {
      var region_district_municipality_id = region_district_municipality_json[k]['id'];
      var region_district_municipality_name = region_district_municipality_json[k]['name'];
      html += '<div class="article">' +
                '<div class="article-header">' +
                  '<h3 class="color-darkblue">Overview of ' + region_district_municipality_name + ' Municipality</h3>' +
                '</div>' +
                '<div class="article-body">' +
                  '<div class="row">' +
                    '<div class="col-md-8 col-xs-12">' +
                      '<p class="color-grey make-center make-bold">Housing Types by Monthly</p>' +
                      '<canvas id="region_district_municipality_' + region_district_municipality_id + '_all_type_canvas"></canvas>' +
                    '</div>' +
                    '<div class="col-md-4 col-xs-6">' +
                      '<p class="color-grey make-center make-bold">Percentage of Housing Types</p>' +
                      '<canvas id="region_district_municipality_' + region_district_municipality_id + '_type_canvas"></canvas>' +
                    '</div>' +
                  '</div>' +
                '</div>' +
              '</div>';
    }


    $("#" + id + "Canvas").html(html);
    html = '';


    // Trend Line for Total Market Transactions
    new Chart($("#" + id + "_regional_district_canvas"), {
      type: 'line',
      data: {
        labels: months,
        datasets: [
          {
            label: "Total Market Transactions",
            data: data['no_mkt_trans']['monthly'],
            fill: false,
            backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
            borderColor: colours[colours.length-1]['rgba']['opacity-1'],
            borderWidth: 5,
            borderJoinStyle: 'round',
            lineTension: 0.1
          }
        ]
      }
    });


    // Comparison of municipalitiies

    var region_district_municipality_datasets = [];

    var region_district_municipality_compare_labels = [];
    var region_district_municipality_compare_data = [];
    var region_district_municipality_compare_bg_color = [];

    for (var j = 0; j < region_district_municipality_json.length; j++) {
      var name = region_district_municipality_json[j]['name'];
      var region_district_municipality__dataset = {
        "label": name,
        "data": region_district_municipality_json[j]['transaction_type']['monthly'],
        "backgroundColor": colours[j]['rgba']['opacity-0.9'],
        "borderColor": colours[j]['rgba']['opacity-1'],
        "borderWidth": 3
      };
      region_district_municipality_datasets.push(region_district_municipality__dataset);

      region_district_municipality_compare_labels.push(name);
      region_district_municipality_compare_data.push( region_district_municipality_json[j]['transaction_type']['total'] );
      region_district_municipality_compare_bg_color.push( colours[j]['rgba']['opacity-0.9'] );
    }

    // Transactions Monthly Summary
    new Chart($("#" + id + "_regional_district_municipal_canvas"), {
      type: "bar",
      data: {
        "labels": months,
        "datasets": region_district_municipality_datasets
      },
      options: vertical_option("Transactions (1K=1,000)", 1000, "K")
    });

    // Percentage of Total Transactions
    new Chart($("#" + id + "_regional_district_compare_canvas"), {
      type: 'pie',
      data: {
        labels: region_district_municipality_compare_labels,
        datasets: [{
          data: region_district_municipality_compare_data,
          backgroundColor: region_district_municipality_compare_bg_color
        }]
      },
      options: pie_option()
    });



    // Overview of each Municipality
    for (var j = 0; j < region_district_municipality_json.length; j++) {
      var region_district_municipality_id = region_district_municipality_json[j]['id'];
      var region_district_municipality_name = region_district_municipality_json[j]['name'];
     
      // make datasets
      var datasets = [];
      
      // municipal property types
      var region_district_municipality_housing_type = [];
      var region_district_municipality_housing_type_data = [];
      var region_district_municipality_housing_type_bg_colors = [];

      var reg_district_municipality_housing_type = region_district_municipality_json[j]['transaction_type']['housing_type'];
      var k;
      for (k = 0; k < reg_district_municipality_housing_type.length; k++) {
        var name = reg_district_municipality_housing_type[k]['name'];

        var dataset = {
          "type": 'bar',
          "label": name,
          "data": reg_district_municipality_housing_type[k]['monthly'],
          "backgroundColor": colours[k]['rgba']['opacity-0.9']
        };
        datasets.push(dataset);

        // add each property type
        region_district_municipality_housing_type.push(name);
        region_district_municipality_housing_type_data.push( reg_district_municipality_housing_type[k]['total'] );
        region_district_municipality_housing_type_bg_colors.push( colours[k]['rgba']['opacity-0.9'] );
      }

      // add trend line
      var trend_line = {
        type: "line",
        label: "Total Market Transactions",
        data: region_district_municipality_json[j]['transaction_type']['monthly'],
        fill: false,
        backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
        borderColor: colours[colours.length-1]['rgba']['opacity-1'],
        borderWidth: 3,
        borderJoinStyle: 'round',
        lineTension: 0.1
      };
      datasets.push(trend_line);

      // Percentage of Total Transactions
      var region_district_municipality_resid_type_labels = [];

      var region_district_municipality_housing_type_resid = region_district_municipality_json[j]['transaction_type']['housing_type'][0]['residential_types'];

      for (var n = 0; n < region_district_municipality_housing_type_resid.length; n++) {
        region_district_municipality_resid_type_labels.push(region_district_municipality_housing_type_resid[n]['name']);
      }

      // make charts for Property Types 
      new Chart($("#region_district_municipality_" + region_district_municipality_id + "_all_type_canvas"), {
        type: "bar",
        data: {
          labels: months,
          datasets: datasets
        },
        options: vertical_stacked_bar_option("Transactions (1K=1,000)", 1000, "K", k)
      });

      // make charts for Percentage of Property Types
      new Chart($("#region_district_municipality_" + region_district_municipality_id + "_type_canvas"), {
        type: "doughnut",
        data: {
          labels: region_district_municipality_housing_type,
          datasets: [{
            data: region_district_municipality_housing_type_data,
            backgroundColor: region_district_municipality_housing_type_bg_colors
          }]
        },
        options: pie_option()
      });

    }


  }


});
</script>