<div id="AbbotsfordModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Abbotsford</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/abbotsford"%>
      </div>
    </div>
  </div>
</div>

<div id="ChilliwackModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Chilliwack</h4>
      </div>
      <div class="modal-body">
      <%= render "articles/municipal/cities/chilliwack"%>
      </div>
    </div>
  </div>
</div>

<div id="BurnabyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Burnaby</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/burnaby"%>
      </div>
    </div>
  </div>
</div>

<div id="RichmondModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Richmond</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/richmond"%>
      </div>
    </div>
  </div>
</div>


<div id="SurreyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Surrey</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/surrey"%>
      </div>
    </div>
  </div>
</div>

<div id="VancouverModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Vancouver</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/vancouver"%>
      </div>
    </div>
  </div>
</div>

<div id="WhistlerModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Whistler</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/whistler"%>
      </div>
    </div>
  </div>
</div>

<div id="KelownaModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Kelowna</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/kelowna"%>
      </div>
    </div>
  </div>
</div>

<div id="NanaimoModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details of Nanaimo</h4>
      </div>
      <div class="modal-body">
        <%= render "articles/municipal/cities/nanaimo"%>
      </div>
    </div>
  </div>
</div>

