<% @dev_region_transaction_json = JSON.parse(@dev_region_transaction_data) %>

<% @dev_region_transaction_json['development_region'].each do |data| %>

  <div id="<%= data['id'] %>Modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title color-white" id="myModalLabel">Welcome to <%= data['name'] %></h3>
        </div>
        
        <% image_id = "/assets/images/bg/" + data['id'] + ".ashx" %>
        <% if image_exist(image_id) == false %>
          <% image_id = "/assets/images/bg/Cariboo.ashx" %>
        <% end %>

        <!-- summary -->
        <div class="hori-bar-top"></div>
        <div class="summary" style="background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(<%= image_id %>) no-repeat center center fixed; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;">
          <div class="row">
            <div class="col-md-7">
              <%= data['description'] %>
            </div>
            <div class="col-md-5">
              <ul>
                <li>Total Market Transactions: <b><%= data['no_mkt_trans']['total'] %></b></li>
                <li>Population: <b><%= data['population'] %></b></li>
                <li>Land Area (sq. km): <b><%= data['land_area'] %></b></li>
                <li>Number of Regional District: <b><%= data['num_rd'] %></b></li>
              </ul> 
            </div>
          </div>
        </div>

        <div class="modal-body">

          <!-- all charts -->
          <div id="<%= data['id'] %>Canvas"></div>
        </div>

      </div>
    </div>
  </div>

<% end %>

<script>
$(document).ready(function() {

  var dev_region_transaction_data = JSON.parse( $("#dev_region_transaction_data").val() );

  var months = dev_region_transaction_data['months'];
  var dev_region = dev_region_transaction_data['development_region'];

  var html = '';
  for (var i = 0; i < dev_region.length; i++) {
    var data = dev_region[i];
    var id = data['id'];
    var name = data['name'];

    // make charts to be added to a html page
    html += '<div class="article">' +
              '<div class="article-header">' +
                '<h3 class="color-darkblue">Trend Line for Total Market Transactions</h3>' +
              '</div>' +
              '<div class="article-body">' +
                '<div class="row">' +
                  '<div class="col-md-2"></div>' +
                  '<div class="col-md-8">' +
                    '<canvas id="' + id + '_dev_region_canvas"></canvas>' +
                  '</div>' +
                '<div class="col-md-2"></div>' +
              '</div>' +
              '</div>' +
            '</div>' +
            '<div class="article">' +
              '<div class="article-header">' +
                '<h3 class="color-darkblue">Comparison of Regional Districts</h3>' +
              '</div>' +
              '<div class="article-body">' +
                '<div class="row">' +
                  '<div class="col-md-8 col-xs-12">' +
                    '<p class="color-grey make-center make-bold">Transactions Monthly Summary</p>' +
                    '<canvas id="' + id + '_dev_region_district_canvas"></canvas>' +
                  '</div>' +
                  '<div class="col-md-4 col-xs-6">' +
                    '<p class="color-grey make-center make-bold">Percentage of Total Transactions</p>' +
                    '<canvas id="' + id + '_dev_region_compare_canvas"></canvas>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '</div>';


    var dev_region_district_json = data['regional_district'];

    for (var k = 0; k < dev_region_district_json.length; k++) {
      var reg_district_id = dev_region_district_json[k]['id'];
      var reg_district_name = dev_region_district_json[k]['name'];
      html += '<div class="article">' +
                '<div class="article-header">' +
                  '<h3 class="color-darkblue">Overview of ' + reg_district_name + ' Regional District</h3>' +
                '</div>' +
                '<div class="article-body">' +
                  '<div class="row">' +
                    '<div class="col-md-8 col-xs-12">' +
                      '<p class="color-grey make-center make-bold">Housing Types</p>' +
                      '<canvas id="dev_region_district_' + reg_district_id + '_all_type_canvas"></canvas>' +
                    '</div>' +
                    '<div class="col-md-4 col-xs-6">' +
                      '<p class="color-grey make-center make-bold">Percentage of Housing Types</p>' +
                      '<canvas id="dev_region_district_' + reg_district_id + '_type_canvas"></canvas>' +
                    '</div>' +
                  '</div>' +
                  '<br /><p class="color-grey make-center make-bold">Detail of Residential Property Type</p>' +
                  '<canvas id="dev_region_district_' + reg_district_id + '_resid_type_canvas"></canvas>' +
                '</div>' +
              '</div>';
    }


    $("#" + id + "Canvas").html(html);
    html = '';


    // Trend Line for Total Market Transactions
    new Chart($("#" + id + "_dev_region_canvas"), {
      type: 'line',
      data: {
        labels: months,
        datasets: [
          {
            label: "Total Market Transactions",
            data: data['no_mkt_trans']['monthly'],
            fill: false,
            backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
            borderColor: colours[colours.length-1]['rgba']['opacity-1'],
            borderWidth: 5,
            borderJoinStyle: 'round',
            lineTension: 0.1
          }
        ]
      },
      options: vertical_option("Transactions (1K=1,000)", 1000, "K")
    });

    // development region 

    var dev_region_district_datasets = [];

    var dev_region_compare_labels = [];
    var dev_region_compare_data = [];
    var dev_region_compare_bg_color = [];
    
    for (var j = 0; j < dev_region_district_json.length; j++) {
      var name = dev_region_district_json[j]['name'];

      var dev_region_district_dataset = {
        "label": name,
        "data": dev_region_district_json[j]['transaction_type']['monthly'],
        "backgroundColor": colours[j]['rgba']['opacity-0.9'],
        "borderColor": colours[j]['rgba']['opacity-1'],
        "borderWidth": 3
      };
      dev_region_district_datasets.push(dev_region_district_dataset);

      dev_region_compare_labels.push(name);
      dev_region_compare_data.push( dev_region_district_json[j]['transaction_type']['total'] );
      dev_region_compare_bg_color.push( colours[j]['rgba']['opacity-0.9'] );
    }


    // Comparison between Regional Districts
    
    // Transactions Monthly Summary
    new Chart($("#" + id + "_dev_region_district_canvas"), {
      type: "bar",
      data: {
        "labels": months,
        "datasets": dev_region_district_datasets
      },
      options: vertical_option("Transactions (1K=1,000)", 1000, "K")
    });

    // Percentage of Total Transactions
    new Chart($("#" + id + "_dev_region_compare_canvas"), {
      type: 'pie',
      data: {
        labels: dev_region_compare_labels,
        datasets: [{
          data: dev_region_compare_data,
          backgroundColor: dev_region_compare_bg_color
        }]
      },
      options: pie_option()
    });


    // Overview of each Regional District
    for (var j = 0; j < dev_region_district_json.length; j++) {
      var reg_district_id = dev_region_district_json[j]['id'];
      var reg_district_name = dev_region_district_json[j]['name'];
     
      // make datasets
      var datasets = [];
      
      // region district property types
      var region_district_housing_type = [];
      var region_district_housing_type_data = [];
      var region_district_housing_type_bg_colors = [];

      var reg_district_housing_type = dev_region_district_json[j]['transaction_type']['housing_type'];
      var k;
      for (k = 0; k < reg_district_housing_type.length; k++) {
        var name = reg_district_housing_type[k]['name'];
        var dataset = {
          "type": "bar",
          "label": name,
          "data": reg_district_housing_type[k]['monthly'],
          "backgroundColor": colours[k]['rgba']['opacity-0.9']
        };
        datasets.push(dataset);

        // add each property type
        region_district_housing_type.push(name);
        region_district_housing_type_data.push( reg_district_housing_type[k]['total'] );
        region_district_housing_type_bg_colors.push( colours[k]['rgba']['opacity-0.9'] );
      }

      // add trend line
      var trend_line = {
        type: "line",
        label: "Total Market Transactions",
        data: dev_region_district_json[j]['transaction_type']['monthly'],
        fill: false,
        backgroundColor: colours[colours.length-1]['rgba']['opacity-0.9'],
        borderColor: colours[colours.length-1]['rgba']['opacity-1'],
        borderWidth: 3,
        borderJoinStyle: 'round',
        lineTension: 0.1
      };
      datasets.push(trend_line);

      // Percentage of Total Transactions
      var dev_region_district_resid_type_labels = [];
      var dev_region_district_resid_type_data = [];

      var reg_district_housing_type_resid = dev_region_district_json[j]['transaction_type']['housing_type'][0]['residential_types'];

      for (var n = 0; n < reg_district_housing_type_resid.length; n++) {
        dev_region_district_resid_type_labels.push(reg_district_housing_type_resid[n]['name']);
        dev_region_district_resid_type_data.push(reg_district_housing_type_resid[n]['total']);
      }

      // make charts for Property Types 
      new Chart($("#dev_region_district_" + reg_district_id + "_all_type_canvas"), {
        type: "bar",
        data: {
          labels: months,
          datasets: datasets
        },
        options: vertical_stacked_bar_option("Transactions (1K=1,000)", 1000, "K", k)
      });

      // make charts for Percentage of Property Types
      new Chart($("#dev_region_district_" + reg_district_id + "_type_canvas"), {
        type: "doughnut",
        data: {
          labels: region_district_housing_type,
          datasets: [{
            data: region_district_housing_type_data,
            backgroundColor: region_district_housing_type_bg_colors
          }]
        },
        options: pie_option()
      });


      // make charts for Detail of Residential Property
      new Chart($("#dev_region_district_" + reg_district_id + "_resid_type_canvas"), {
        type: "horizontalBar",
        data: {
          labels: dev_region_district_resid_type_labels,
          datasets: [{
            label: "Residential Transactions",
            data: dev_region_district_resid_type_data,
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: horizontal_bar_option("Transactions (1K=1,000)", 1000, "K")
      });

    }


  }
  

});
</script>