

<div id="VancouverModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Vancouver</h4>
			</div>
			<div class="modal-body">

				<div class="stats">
					<p class="title">Total number of Property Transfer Transactions and Total Investment</p>
					<p class="desc">Description of Analysis</p>

					<div class="chart">
						<div class="row">
							<div class="col-md-6">
								<canvas id="chart_vancouver_transaction"></canvas>
								<p class="chart-title">< Number of Property Transfer Transactions ></p>
							</div>
							<div class="col-md-6">
								<canvas id="chart_vancouver_investment"></canvas>
								<p class="chart-title">< Total investment of all Property Transfers ></p>
							</div>
						</div>
						<p class="chart-source">Source: Housing Market Infomation (June 10~29, 2016)</p>
					</div>
				</div>
				
				<hr />
				<div class="stats">
					<p class="title">Average housing sold price and trend</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="avg_sold_price_chart_vancouver"></canvas>
						<p class="chart-title">< Average Sold Price ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

				<hr />
				<div class="stats">
					<p class="title">Number of Sales and Inventory</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="sales_inventory_vancouver_chart"></canvas>
						<p class="chart-title">< Sales and Inventory ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

<div id="BurnabyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Burnaby</h4>
			</div>
			<div class="modal-body">

				<div class="stats">
					<p class="title">Total number of Property Transfer Transactions and Total Investment</p>
					<p class="desc">Description of Analysis</p>

					<div class="chart">
						<div class="row">
							<div class="col-md-6">
								<canvas id="chart_burnaby_transaction"></canvas>
								<p class="chart-title">< Number of Property Transfer Transactions ></p>
							</div>
							<div class="col-md-6">
								<canvas id="chart_burnaby_investment"></canvas>
								<p class="chart-title">< Total investment of all Property Transfers ></p>
							</div>
						</div>
						<p class="chart-source">Source: Housing Market Infomation (June 10~29, 2016)</p>
					</div>
				</div>
				
				<hr />
				<div class="stats">
					<p class="title">Average housing sold price and trend</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="avg_sold_price_chart_burnaby"></canvas>
						<p class="chart-title">< Average Sold Price ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

				<hr />
				<div class="stats">
					<p class="title">Number of Sales and Inventory</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="sales_inventory_burnaby_chart"></canvas>
						<p class="chart-title">< Sales and Inventory ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="RichmondModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Richmond</h4>
			</div>
			<div class="modal-body">

				<div class="stats">
					<p class="title">Total number of Property Transfer Transactions and Total Investment</p>
					<p class="desc">Description of Analysis</p>

					<div class="chart">
						<div class="row">
							<div class="col-md-6">
								<canvas id="chart_richmond_transaction"></canvas>
								<p class="chart-title">< Number of Property Transfer Transactions ></p>
							</div>
							<div class="col-md-6">
								<canvas id="chart_richmond_investment"></canvas>
								<p class="chart-title">< Total investment of all Property Transfers ></p>
							</div>
						</div>
						<p class="chart-source">Source: Housing Market Infomation (June 10~29, 2016)</p>
					</div>
				</div>
				
				<hr />
				<div class="stats">
					<p class="title">Average housing sold price and trend</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="avg_sold_price_chart_richmond"></canvas>
						<p class="chart-title">< Average Sold Price ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

				<hr />
				<div class="stats">
					<p class="title">Number of Sales and Inventory</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="sales_inventory_richmond_chart"></canvas>
						<p class="chart-title">< Sales and Inventory ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="DeltaModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Delta</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="SurreyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Surrey</h4>
			</div>
			<div class="modal-body">
				
				<div class="stats">
					<p class="title">Total number of Property Transfer Transactions and Total Investment</p>
					<p class="desc">Description of Analysis</p>

					<div class="chart">
						<div class="row">
							<div class="col-md-6">
								<canvas id="chart_surrey_transaction"></canvas>
								<p class="chart-title">< Number of Property Transfer Transactions ></p>
							</div>
							<div class="col-md-6">
								<canvas id="chart_surrey_investment"></canvas>
								<p class="chart-title">< Total investment of all Property Transfers ></p>
							</div>
						</div>
						<p class="chart-source">Source: Housing Market Infomation (June 10~29, 2016)</p>
					</div>
				</div>
				
				<hr />
				<div class="stats">
					<p class="title">Average housing sold price and trend</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="avg_sold_price_chart_surrey"></canvas>
						<p class="chart-title">< Average Sold Price ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

				<hr />
				<div class="stats">
					<p class="title">Number of Sales and Inventory</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="sales_inventory_surrey_chart"></canvas>
						<p class="chart-title">< Sales and Inventory ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="NewWestMinsterModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of New WestMinster</h4>
			</div>
			<div class="modal-body">

				<div class="stats">
					<p class="title">Total number of Property Transfer Transactions and Total Investment</p>
					<p class="desc">Description of Analysis</p>

					<div class="chart">
						<div class="row">
							<div class="col-md-6">
								<canvas id="chart_new_west_transaction"></canvas>
								<p class="chart-title">< Number of Property Transfer Transactions ></p>
							</div>
							<div class="col-md-6">
								<canvas id="chart_new_west_investment"></canvas>
								<p class="chart-title">< Total investment of all Property Transfers ></p>
							</div>
						</div>
						<p class="chart-source">Source: not real</p>
					</div>
				</div>
				
				<hr />
				<div class="stats">
					<p class="title">Average housing sold price and trend</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="avg_sold_price_chart_new_west"></canvas>
						<p class="chart-title">< Average Sold Price ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>

				<div class="stats">
					<p class="title">Number of Sales and Inventory</p>
					<p class="desc">Description of Analysis</p>
					<div class="chart">
						<canvas id="sales_inventory_new_west_chart"></canvas>
						<p class="chart-title">< Sales and Inventory ></p>
						<p class="chart-source">Source: zolo.ca</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div id="CoquitlamModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Coquitlam</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="PortCoquitlamModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Port Coquitlam</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="TownshipOfLangleyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Township of Langley</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="CityOfLangleyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of City of Langley</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="PittMeadowsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Pitt Meadows</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="MapleRidgeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Maple Ridge</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="DistrictOfNorthVancouverModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of District of North Vancouver</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>al
			</div>
		</div>
	</div>
</div>

<div id="WestVancouverModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of West Vancouver</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="WhiteRockModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of White Rock</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="UBCModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of UBC</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="PortMoodyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Port Moody</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="TsawwassenFirstNationModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Tsawwassen First Nation</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<div id="BelcarraModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Details of Belcarra</h4>
			</div>
			<div class="modal-body">
				<div class="card card-block city-info color-danger">
					<%= fa_icon "info-circle" %> The data for this city is not ready. Please click Vancouver, Richmond, Burnaby, Surrey, or New Westminster
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {

	// options
	var options_price = {
		responsive: false,
		scales: {
			yAxes: [{
				ticks: {
					callback: function(label, index, labels) {
						return label/1000+'k';
					}
				},
				scaleLabel: {
					display: true,
					labelString: 'Price (1k=1000)'
				}
			}]
		},
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					return "$" + Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
						return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
					});
				}
			}
		}
	};


	var options_pie = {
		responsive: false,
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					var dataset = data.datasets[tooltipItem.datasetIndex];
					var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
						return previousValue + currentValue;
					});
					var currentValue = dataset.data[tooltipItem.index];
					var precentage = Math.floor(((currentValue/total) * 100)+0.5);
					return currentValue + " (" + precentage + "%)";
				}
			}
		}
	};

	var options_pie_invest = {
		responsive: false,
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
					//console.log(data);
					var dataset = data.datasets[tooltipItem.datasetIndex];
					var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
						return previousValue + currentValue;
					});

					var currentValue = dataset.data[tooltipItem.index];
					var currentValueDollar = currentValue.toFixed(0).replace(/./g, function(c, i, a) {
						return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
					});
					
					var precentage = Math.floor(((currentValue/total) * 100)+0.5);
					return "$" + currentValueDollar + " (" + precentage + "%)";
				}
			}
		}
	};

	var options_stack = {
		responsive: false,
		scales: {
			xAxes: [{
				stacked: true
			}],
			yAxes: [{
				stacked: true
			}]
		}
	};

	// data

    var avg_sold_months = ["Jan 16", "Feb 16", "Mar 16", "Apr 16", "May 16", "June 16", "July 16", "Aug 16", "Sept 16", "Oct 16", "Nov 16", "Dec 16"];
    var avg_sold_prices_west_van = [3620955, 3215892, 3555663, 3304361, 2876155, 3162485, 2778054, 1980733, 2784184, 2677054, 2949458];
    var avg_sold_prices_vancouver = [1336871, 1359592, 1470781, 1422686, 1429054, 1379533, 1360277, 1213303, 1175808, 1127140, 1172082, 1175051];
    var avg_sold_prices_north_van = [974359, 1055253, 1144327, 1223508, 1255571, 1210004, 1188592, 1002732, 1086280, 971991, 1004365, 1059840];
    var avg_sold_prices_burnaby = [735062, 857895, 889463, 932661, 932629, 875320, 808498, 715156, 709240, 798380, 693008, 701231];
    var avg_sold_prices_richmond = [948466, 982736, 1027071, 1029593, 972520, 961972, 966925, 752345, 938316, 908381, 848498, 840512];
    var avg_sold_prices_coquitlam = [852199, 757966, 797636, 835253, 858569, 799123, 761269, 746609, 641148, 676888, 664178, 730638];
    var avg_sold_prices_new_west = [521640, 544049, 657623, 587864, 600909, 604538, 560420, 523154, 451772, 503274, 542533, 527965];
    var avg_sold_prices_surrey = [676589, 693308, 749278, 783442, 790752, 764451, 695869, 650934, 631277, 622645, 647598, 613131];


    // vancouver
    var data_vancouver_transactoin = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [1092,47],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_vancouver_investment = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [1563947988,64262465],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

    var avg_sold_price_trend_vancouver = {
        labels: avg_sold_months,
        datasets: [{
        	label: 'Sold Price',
        	data: avg_sold_prices_vancouver,
        	backgroundColor: 'rgba(54, 162, 235, 0.5)',
        	borderColor: 'rgba(54, 162, 235, 1)',
        	borderWidth: 1
        }, {
        	type: 'line',
        	label: "Trend",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: avg_sold_prices_vancouver,
        	spanGaps: false
        }]
    };


    var sales_inventory_vancouver = {
    	labels: avg_sold_months,
    	datasets: [{
    		type: 'bar',
    		label: 'Sales',
    		backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
    		data: [442, 1457, 1432, 1048, 1120, 991, 884, 576, 538, 611, 601, 579],
    	}, {
    		type: 'bar',
    		label: 'Inventory',
    		backgroundColor: 'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(255, 206, 86, 1)',
    		data: [1722-442, 2211-1457, 2324-1432, 2229-1048, 2341-1120, 2395-991, 2539-884, 2698-576, 2767-538, 2943-611, 2845-601, 2543-579]
    	},{
    		type: 'line',
        	label: "Total",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: [1722, 2211, 2324, 2229, 2341, 2395, 2539, 2698, 2767, 2943, 2845, 2543],
        	spanGaps: false
    	}]
    };


    // richmond
    var data_richmond_transactoin = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [336,56],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_richmond_investment = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [371212528,61529000],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

    var avg_sold_price_trend_richmond = {
        labels: avg_sold_months,
        datasets: [{
        	label: 'Sold Price',
        	data: avg_sold_prices_richmond,
        	backgroundColor: 'rgba(54, 162, 235, 0.5)',
        	borderColor: 'rgba(54, 162, 235, 1)',
        	borderWidth: 1
        }, {
        	type: 'line',
        	label: "Trend",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: avg_sold_prices_richmond,
        	spanGaps: false
        }]
    };


    var sales_inventory_richmond = {
    	labels: avg_sold_months,
    	datasets: [{
    		type: 'bar',
    		label: 'Sales',
    		backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
    		data: [272, 632, 626, 525, 496, 530, 386, 265, 253, 283, 252, 256],
    	}, {
    		type: 'bar',
    		label: 'Inventory',
    		backgroundColor: 'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(255, 206, 86, 1)',
    		data: [1139-272, 1252-632, 1295-626, 1310-525, 1362-496, 1445-530, 1529-386, 1617-265, 1545-253, 1515-283, 1411-252, 1265-256]
    	},{
    		type: 'line',
        	label: "Total",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: [1139, 1252, 1295, 1310, 1362, 1445, 1529, 1617, 1545, 1515, 1411, 1265],
        	spanGaps: false
    	}]
    };


    // surrey
    var data_surrey_transactoin = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [1022,35],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_surrey_investment = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [841584668,41651698],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

    var avg_sold_price_trend_surrey = {
        labels: avg_sold_months,
        datasets: [{
        	label: 'Sold Price',
        	data: avg_sold_prices_surrey,
        	backgroundColor: 'rgba(54, 162, 235, 0.5)',
        	borderColor: 'rgba(54, 162, 235, 1)',
        	borderWidth: 1
        }, {
        	type: 'line',
        	label: "Trend",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: avg_sold_prices_surrey,
        	spanGaps: false
        }]
    };

    var sales_inventory_surrey = {
    	labels: avg_sold_months,
    	datasets: [{
    		type: 'bar',
    		label: 'Sales',
    		backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
    		data: [546, 1323, 1275, 1021, 1081, 1001, 857, 602, 531, 702, 555, 514],
    	}, {
    		type: 'bar',
    		label: 'Inventory',
    		backgroundColor: 'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(255, 206, 86, 1)',
    		data: [1933-546, 2346-1323, 2606-1275, 2622-1021, 2708-1081, 2763-1001, 2972-857, 3069-602, 2974-531, 3082-702, 2783-555, 2455-514]
    	},{
    		type: 'line',
        	label: "Total",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: [1933, 2346, 2606, 2622, 2708, 2763, 2972, 3069, 2974, 3082, 2783, 2455],
        	spanGaps: false
    	}]
    };



    // burnaby
    var data_burnaby_transactoin = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [293,36],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_burnaby_investment = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [293520752,31472123],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

    var avg_sold_price_trend_burnaby = {
        labels: avg_sold_months,
        datasets: [{
        	label: 'Sold Price',
        	data: avg_sold_prices_burnaby,
        	backgroundColor: 'rgba(54, 162, 235, 0.5)',
        	borderColor: 'rgba(54, 162, 235, 1)',
        	borderWidth: 1
        }, {
        	type: 'line',
        	label: "Trend",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: avg_sold_prices_burnaby,
        	spanGaps: false
        }]
    };

    var sales_inventory_burnaby = {
    	labels: avg_sold_months,
    	datasets: [{
    		type: 'bar',
    		label: 'Sales',
    		backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
    		data: [245, 544, 543, 440, 434, 433, 385, 235, 217, 245, 222, 211],
    	}, {
    		type: 'bar',
    		label: 'Inventory',
    		backgroundColor: 'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(255, 206, 86, 1)',
    		data: [657-245, 759-544, 807-543, 760-440, 797-434, 846-433, 904-385, 1041-235, 1013-217, 1069-245, 989-222, 898-211]
    	},{
    		type: 'line',
        	label: "Total",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: [657, 759, 807, 760, 797, 846, 904, 1041, 1013, 1069, 989, 898],
        	spanGaps: false
    	}]
    };


    // new westminster

    var data_new_west_transactoin = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [293,36],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

	var data_new_west_investment = {
	    labels: ["Canadian/PR","Foreign nationals"],
	    datasets: [
	        {
	            data: [293520752,31472123],
	            backgroundColor: ["#36A2EB","#FFCE56"],
	            hoverBackgroundColor: ["#36A2EB","#FFCE56"]
	        }
	    ]
	};

    var avg_sold_price_trend_new_west = {
        labels: avg_sold_months,
        datasets: [{
        	label: 'Sold Price',
        	data: avg_sold_prices_new_west,
        	backgroundColor: 'rgba(54, 162, 235, 0.5)',
        	borderColor: 'rgba(54, 162, 235, 1)',
        	borderWidth: 1
        }, {
        	type: 'line',
        	label: "Trend",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: avg_sold_prices_new_west,
        	spanGaps: false
        }]
    };


    var sales_inventory_new_west = {
    	labels: avg_sold_months,
    	datasets: [{
    		type: 'bar',
    		label: 'Sales',
    		backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
    		data: [81, 228, 148, 156, 180, 156, 136, 121, 102, 104, 97, 94],
    	}, {
    		type: 'bar',
    		label: 'Inventory',
    		backgroundColor: 'rgba(255, 206, 86, 0.7)',
            borderColor: 'rgba(255, 206, 86, 1)',
    		data: [236-81, 266-228, 296-148, 317-156, 333-180, 327-156, 322-136, 306-121, 277-102, 285-104, 292-97, 286-94]
    	},{
    		type: 'line',
        	label: "Total",
        	fill: false,
        	lineTension: 0.1,
        	backgroundColor: 'rgba(255, 99, 132, 1)',
        	borderColor: 'rgba(255, 99, 132, 1)',
        	borderCapStyle: 'butt',
        	borderDash: [],
        	borderDashOffset: 0.0,
        	borderJoinStyle: 'miter',
        	pointBorderColor: 'rgba(255, 99, 132, 1)',
        	pointBackgroundColor: "#fff",
        	pointBorderWidth: 5,
        	pointHoverRadius: 5,
        	pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderColor: 'rgba(255, 99, 132, 1)',
        	pointHoverBorderWidth: 2,
        	pointRadius: 1,
        	pointHitRadius: 10,
        	data: [236, 266, 296, 317, 333, 327, 322, 306, 277, 285, 292, 286],
        	spanGaps: false
    	}]
    };


	// canvas chart

	// vancouver
	var chart_vancouver_transaction = document.getElementById("chart_vancouver_transaction").getContext("2d");
	chart_vancouver_transaction.canvas.width = 250;
	chart_vancouver_transaction.canvas.height = 250;
	var pie_chart_vancouver_transactoin = new Chart(chart_vancouver_transaction,{
	    type: 'pie',
	    data: data_vancouver_transactoin,
	    options: options_pie
	});


	var chart_vancouver_investment = document.getElementById("chart_vancouver_investment").getContext("2d");
	chart_vancouver_investment.canvas.width = 250;
	chart_vancouver_investment.canvas.height = 250;
	var pie_chart_vancouver_investment = new Chart(chart_vancouver_investment,{
	    type: 'pie',
	    data: data_vancouver_investment,
	    options: options_pie_invest
	});

    var avg_sold_price_chart_vancouver = document.getElementById("avg_sold_price_chart_vancouver").getContext("2d");
	avg_sold_price_chart_vancouver.canvas.width = 500;
	avg_sold_price_chart_vancouver.canvas.height = 300;
	var avg_sold_price_chart_vancouver = new Chart(avg_sold_price_chart_vancouver, {
	    type: 'bar',
	    data: avg_sold_price_trend_vancouver,
	    options: options_price
	});

	var sales_inventory_vancouver_chart = document.getElementById("sales_inventory_vancouver_chart").getContext("2d");
	sales_inventory_vancouver_chart.canvas.width = 500;
	sales_inventory_vancouver_chart.canvas.height = 300;
	var sales_inventory_vancouver_chart = new Chart(sales_inventory_vancouver_chart, {
	    type: "bar",
	    data: sales_inventory_vancouver,
	    options: options_stack
	});


	// richmond
	var chart_richmond_transaction = document.getElementById("chart_richmond_transaction").getContext("2d");
	chart_richmond_transaction.canvas.width = 250;
	chart_richmond_transaction.canvas.height = 250;
	var pie_chart_richmond_transactoin = new Chart(chart_richmond_transaction,{
	    type: 'pie',
	    data: data_richmond_transactoin,
	    options: options_pie
	});


	var chart_richmond_investment = document.getElementById("chart_richmond_investment").getContext("2d");
	chart_richmond_investment.canvas.width = 250;
	chart_richmond_investment.canvas.height = 250;
	var pie_chart_richmond_investment = new Chart(chart_richmond_investment,{
	    type: 'pie',
	    data: data_richmond_investment,
	    options: options_pie_invest
	});

    var avg_sold_price_chart_richmond = document.getElementById("avg_sold_price_chart_richmond").getContext("2d");
	avg_sold_price_chart_richmond.canvas.width = 500;
	avg_sold_price_chart_richmond.canvas.height = 300;
	var avg_sold_price_chart_richmond = new Chart(avg_sold_price_chart_richmond, {
	    type: 'bar',
	    data: avg_sold_price_trend_richmond,
	    options: options_price
	});

	var sales_inventory_richmond_chart = document.getElementById("sales_inventory_richmond_chart").getContext("2d");
	sales_inventory_richmond_chart.canvas.width = 500;
	sales_inventory_richmond_chart.canvas.height = 300;
	var sales_inventory_richmond_chart = new Chart(sales_inventory_richmond_chart, {
	    type: "bar",
	    data: sales_inventory_richmond,
	    options: options_stack
	});


	// surrey
	var chart_surrey_transaction = document.getElementById("chart_surrey_transaction").getContext("2d");
	chart_surrey_transaction.canvas.width = 250;
	chart_surrey_transaction.canvas.height = 250;
	var pie_chart_surrey_transactoin = new Chart(chart_surrey_transaction,{
	    type: 'pie',
	    data: data_surrey_transactoin,
	    options: options_pie
	});


	var chart_surrey_investment = document.getElementById("chart_surrey_investment").getContext("2d");
	chart_surrey_investment.canvas.width = 250;
	chart_surrey_investment.canvas.height = 250;
	var pie_chart_surrey_investment = new Chart(chart_surrey_investment,{
	    type: 'pie',
	    data: data_surrey_investment,
	    options: options_pie_invest
	});

    var avg_sold_price_chart_surrey = document.getElementById("avg_sold_price_chart_surrey").getContext("2d");
	avg_sold_price_chart_surrey.canvas.width = 500;
	avg_sold_price_chart_surrey.canvas.height = 300;
	var avg_sold_price_chart_surrey = new Chart(avg_sold_price_chart_surrey, {
	    type: 'bar',
	    data: avg_sold_price_trend_surrey,
	    options: options_price
	});

	var sales_inventory_surrey_chart = document.getElementById("sales_inventory_surrey_chart").getContext("2d");
	sales_inventory_surrey_chart.canvas.width = 500;
	sales_inventory_surrey_chart.canvas.height = 300;
	var sales_inventory_surrey_chart = new Chart(sales_inventory_surrey_chart, {
	    type: "bar",
	    data: sales_inventory_surrey,
	    options: options_stack
	});


	// burnaby
	var chart_burnaby_transaction = document.getElementById("chart_burnaby_transaction").getContext("2d");
	chart_burnaby_transaction.canvas.width = 250;
	chart_burnaby_transaction.canvas.height = 250;
	var pie_chart_surrey_transactoin = new Chart(chart_burnaby_transaction,{
	    type: 'pie',
	    data: data_burnaby_transactoin,
	    options: options_pie
	});

	var chart_burnaby_investment = document.getElementById("chart_burnaby_investment").getContext("2d");
	chart_burnaby_investment.canvas.width = 250;
	chart_burnaby_investment.canvas.height = 250;
	var pie_chart_burnaby_investment = new Chart(chart_burnaby_investment,{
	    type: 'pie',
	    data: data_burnaby_investment,
	    options: options_pie_invest
	});

    var avg_sold_price_chart_burnaby = document.getElementById("avg_sold_price_chart_burnaby").getContext("2d");
	avg_sold_price_chart_burnaby.canvas.width = 500;
	avg_sold_price_chart_burnaby.canvas.height = 300;
	var avg_sold_price_chart_burnaby = new Chart(avg_sold_price_chart_burnaby, {
	    type: 'bar',
	    data: avg_sold_price_trend_burnaby,
	    options: options_price
	});

	var sales_inventory_burnaby_chart = document.getElementById("sales_inventory_burnaby_chart").getContext("2d");
	sales_inventory_burnaby_chart.canvas.width = 500;
	sales_inventory_burnaby_chart.canvas.height = 300;
	var sales_inventory_surrey_chart = new Chart(sales_inventory_burnaby_chart, {
	    type: "bar",
	    data: sales_inventory_burnaby,
	    options: options_stack
	});


	// new westminster
	var chart_new_west_transaction = document.getElementById("chart_new_west_transaction").getContext("2d");
	chart_new_west_transaction.canvas.width = 250;
	chart_new_west_transaction.canvas.height = 250;
	var pie_chart_new_west_transactoin = new Chart(chart_new_west_transaction,{
	    type: 'pie',
	    data: data_new_west_transactoin,
	    options: options_pie
	});

	var chart_new_west_investment = document.getElementById("chart_new_west_investment").getContext("2d");
	chart_new_west_investment.canvas.width = 250;
	chart_new_west_investment.canvas.height = 250;
	var pie_chart_new_west_investment = new Chart(chart_new_west_investment,{
	    type: 'pie',
	    data: data_new_west_investment,
	    options: options_pie_invest
	});

    var avg_sold_price_chart_new_west = document.getElementById("avg_sold_price_chart_new_west").getContext("2d");
	avg_sold_price_chart_new_west.canvas.width = 500;
	avg_sold_price_chart_new_west.canvas.height = 300;
	var avg_sold_price_chart_new_west = new Chart(avg_sold_price_chart_new_west, {
	    type: 'bar',
	    data: avg_sold_price_trend_new_west,
	    options: options_price
	});

	var sales_inventory_new_west_chart = document.getElementById("sales_inventory_new_west_chart").getContext("2d");
	sales_inventory_new_west_chart.canvas.width = 500;
	sales_inventory_new_west_chart.canvas.height = 300;
	var sales_inventory_new_west_chart = new Chart(sales_inventory_new_west_chart, {
	    type: "bar",
	    data: sales_inventory_new_west,
	    options: options_stack
	});


});
</script>