<% @census_population_data = JSON.parse(@census_population_data) %>

<% @census_population_data['canada_provinces_territories'][1]['development regions'].each do |regions| %>
  <% regions['regional district'].each do |data| %>

    <div id="<%= data['id'] %>Modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title color-white" id="myModalLabel">Welcome to <%= data['name'] %></h3>
          </div>

          <% image_id = "/assets/images/bg/" + data['id'] + ".ashx" %>
          <% if image_exist(image_id) == false %>
            <% image_id = "/assets/images/bg/Cariboo.ashx" %>
          <% end %>

          <!-- summary -->
          <div class="hori-bar-top"></div>
          <div class="summary" style="background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(<%= image_id %>) no-repeat center center fixed; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;">
            <div class="row">
              <div class="col-md-6">
                <%= data['description'] %>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Population Change (%): <b><%= data['Population, % change'] %></b></li>
                  <li>Population 2016: <b><%= data['Population, 2016'] %></b></li>
                  <li>Land Area (sq. km): <b><%= data['Population density per square kilometre, 2016'] %></b></li>
                  <li>National Population Rank 2016: <b><%= data['National population rank, 2016'] %></b></li>
                  <li>Provincial/Territorial Population Rank 2016: <b><%= data['Provincial/territorial population rank, 2016'] %></b></li>
                </ul> 
              </div>
            </div>
          </div>

          <div class="modal-body">

            <!-- all charts -->
            <div id="<%= data['id'] %>Canvas"></div>
          </div>
          
        </div>
      </div>
    </div>

  <% end %>
<% end %>

<script>
$(document).ready(function() {

  var census_population_data = JSON.parse( $("#census_population_data").val() );

  var years = census_population_data['years'];
  var province = census_population_data['canada_provinces_territories'];
  var bc_regions = census_population_data['canada_provinces_territories'][1]['development regions'];


  // make charts for each regional district

  var html = '';
  for (var i = 0; i < bc_regions.length; i++) {
    var regional_district = bc_regions[i]['regional district']

    for (var j = 0; j < regional_district.length; j++) {
      var data = regional_district[j];
      var id = data['id'];
      var name = data['name'];

      html += '<div class="row canvases each-modal">' +
                '<div class="col-md-6">' +
                  '<h4 class="color-grey">Population of ' + name + '</h4>' +
                  '<canvas id="' + id + '_population_canvas"></canvas>' +
                '</div>' +
                '<div class="col-md-6">' +
                  '<h4 class="color-grey">Total Private Dwellings of ' + name + '</h4>' +
                  '<canvas id="' + id + '_total_private_dwellings_canvas"></canvas>' +
                '</div>' +
              '</div>' +
              '<div class="row canvases each-modal">' +
                '<div class="col-md-8 col-xs-12">' +
                  '<h4 class="color-grey">Private dwellings occupied by usual residents of ' + name + '</h4>' +
                  '<canvas id="' + id + '_private_dwellings_usual_residents_canvas"></canvas>' +
                '</div>' +
                '<div class="col-md-4 col-xs-6">' +
                  '<h4 class="color-grey">Percentage of Private Dwellings between usual residents and others of ' + name + ' in 2016</h4>' +
                  '<canvas id="' + id + '_percentage_private_dwellings_canvas"></canvas>' +
                '</div>' +
              '</div>' +
              '<div class="row canvases each-modal">' +
                '<div class="col-md-3 col-xs-3"></div>' +
                '<div class="col-md-6 col-xs-8">' +
                  '<h4 class="color-grey">Population Change (%) in Canada, B.C. and ' + name + ' between 2011 and 2016</h4>' +
                  '<canvas id="canada_bc_' + id + '_population_change_canvas"></canvas>' +
                '</div>' +
                '<div class="col-md-3 col-xs-3"></div>' +
              '</div>' +
              '<div class="row canvases each-modal">' +
                '<div class="col-md-6 col-xs-9">' +
                  '<h4 class="color-grey">Total private dwellings Change (%) in Canada, B.C. and ' + name + ' between 2011 and 2016</h4>' +
                  '<canvas id="canada_bc_' + id + '_total_private_dwellings_change_canvas"></canvas>' +
                '</div>' +
                '<div class="col-md-6 col-xs-9">' +
                  '<h4 class="color-grey">Private dwellings occupied by usual residents Change (%) in Canada, B.C. and ' + name + ' between 2011 and 2016</h4>' +
                  '<canvas id="canada_bc_' + id + '_dwellings_occupied_residents_change_canvas"></canvas>' +
                '</div>' +
              '</div>' +
              '<div class="row canvases each-modal">' +
                '<div class="col-md-6">' +
                  '<h4 class="color-grey">Land area in square kilometres of Canada, B.C. and ' + name + ' in 2016</h4>' +
                  '<canvas id="canada_bc_' + id + '_land_area_2016_canvas"></canvas>' +
                '</div>' +
                '<div class="col-md-6">' +
                  '<h4 class="color-grey">Population density per square kilometre of Canada, B.C. and ' + name + ' in 2016</h4>' +
                  '<canvas id="canada_bc_' + id + '_population_density_2016_canvas"></canvas>' +
                '</div>' +
              '</div>';

      $("#" + id + "Canvas").html(html);
      html = '';


      // Population
      new Chart($("#" + id + "_population_canvas"), {
        type: "bar",
        data: {
          labels: years,
          datasets: [{
            label: "Population",
            data: [
              data['Population, 2016'],
              data['Population, 2011']
            ],
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: vertical_option("Population (1K=1,000)", 1000, "K", true)
      });

      // Total Private Dwellings
      new Chart($("#" + id + "_total_private_dwellings_canvas"), {
        type: "bar",
        data: {
          labels: years,
          datasets: [{
            label: "Total private dwellings",
            data: [
              data['Total private dwellings, 2016'],
              data['Total private dwellings, 2011']
            ],
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: vertical_option("Total private dwellings (1K=1,000)", 1000, "K", true)
      });



      // Private dwellings occupied by usual residents  
      new Chart($("#" + id + "_private_dwellings_usual_residents_canvas"), {
        type: "bar",
        data: {
          labels: years,
          datasets: [{
            label: "Total private dwellings",
            data: [
              data['Private dwellings occupied by usual residents, 2016'],
              data['Private dwellings occupied by usual residents, 2011']
            ],
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: vertical_option("Total private dwellings (1M=1,000)", 1000, "K", true)
      });


      // Percentage of Private Dwellings between usual residents and others in 2016
      new Chart($("#" + id + "_percentage_private_dwellings_canvas"), {
        type: "pie",
        data: {
          labels: [ "Occupied by usual residents", "Others" ],
          datasets: [{
            data: [
              data['Private dwellings occupied by usual residents, 2016'],
              data['Total private dwellings, 2016'] - data['Private dwellings occupied by usual residents, 2016']          
            ],
            backgroundColor: [ colours[0]['rgba']['opacity-0.9'], colours[1]['rgba']['opacity-0.9'] ]
          }]
        },
        options: pie_option()
      });


      // Population Change (%) (2011-2016) in Canada, B.C. between 2011 and 2016
      new Chart($("#canada_bc_" + id + "_population_change_canvas"), {
        type: "polarArea",
        data: {
          labels: [ 
            province[0]['name'], 
            province[1]['name'],
            data['name']
          ],
          datasets: [{
            label: "Population Change (%)",
            data: [
              province[0]['Population, % change'],
              province[1]['Population, % change'],
              data['Population, % change']
            ],
            backgroundColor: [
              colours[0]['rgba']['opacity-0.9'],
              colours[1]['rgba']['opacity-0.9'],
              colours[2]['rgba']['opacity-0.9']
            ]
          }]
        },
        options: polar_area_option(true)
      });


      // Total private dwellings Change (%) in Canada, B.C. between 2011 and 2016
      new Chart($("#canada_bc_" + id + "_total_private_dwellings_change_canvas"), {
        type: "polarArea",
        data: {
          labels: [
            province[0]['name'], 
            province[1]['name'],
            data['name']
          ],
          datasets: [{
            label: "Total Private Dwellings Change (%)",
            data: [
              province[0]['Total private dwellings, % change'],
              province[1]['Total private dwellings, % change'],
              data['Total private dwellings, % change']
            ],
            backgroundColor: [
              colours[0]['rgba']['opacity-0.9'],
              colours[1]['rgba']['opacity-0.9'],
              colours[2]['rgba']['opacity-0.9']
            ]
          }]
        },
        options: polar_area_option()
      });

      // Private dwellings occupied by usual residents Change (%) in Canada, B.C. between 2011 and 2016
      new Chart($("#canada_bc_" + id + "_dwellings_occupied_residents_change_canvas"), {
        type: "polarArea",
        data: {
          labels: [
            province[0]['name'], 
            province[1]['name'],
            data['name']
          ],
          datasets: [{
            label: "Private dwellings occupied by usual residents Change (%)",
            data: [
              province[0]['Private dwellings occupied by usual residents, % change'],
              province[1]['Private dwellings occupied by usual residents, % change'],
              data['Private dwellings occupied by usual residents, % change']
            ],
            backgroundColor: [
              colours[0]['rgba']['opacity-0.9'],
              colours[1]['rgba']['opacity-0.9'],
              colours[2]['rgba']['opacity-0.9']
            ]
          }]
        },
        options: polar_area_option()
      });


      // Land area in square kilometres of Canada, B.C. in 2016
      new Chart($("#canada_bc_" + id + "_land_area_2016_canvas"), {
        type: "bar",
        data: {
          labels: [
            province[0]['name'],
            province[1]['name'],
            data['name']
          ],
          datasets: [{
            label: "Land area",
            data: [
              province[0]['Land area in square kilometres, 2016'],
              province[1]['Land area in square kilometres, 2016'],
              data['Land area in square kilometres, 2016']
            ],
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: vertical_option("Square km (Mm=1,000,000)", 1000000, "Mm")
      });

      // Population density per square kilometre of Canada, B.C. in 2016
      new Chart($("#canada_bc_" + id + "_population_density_2016_canvas"), {
        type: "bar",
        data: {
          labels: [
            province[0]['name'],
            province[1]['name'],
            data['name']
          ],
          datasets: [{
            label: "Population density",
            data: [
              province[0]['Population density per square kilometre, 2016'],
              province[1]['Population density per square kilometre, 2016'],
              data['Population density per square kilometre, 2016']
            ],
            backgroundColor: colours[0]['rgba']['opacity-0.9']
          }]
        },
        options: vertical_option_basic(true)
      });

    }

  }


});
</script>